<p class="title">Mi Carrito</p>
<app-shopping-card-item [cartItem]="cartItems[0]"></app-shopping-card-item>
<app-shopping-card-item [cartItem]="cartItems[1]"></app-shopping-card-item>

<p class="total"><span class="total-label">total:</span>00.00 USD</p>

<button>Finalizar Pedido</button>
